* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FDFDFD;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 300ms;
}
a:hover {
  color: #E18E15 !important;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

button, input, textarea {
  border: none;
  outline: none;
}

/* ============ HEADER ============ */

.ts-header-info {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  gap: 8px;

  border-bottom: 1px solid #C5C5C5;

  font-size: 14px;
  line-height: 17px;
  color: #262626;
}

.ts-header-info i {
  color: #E18E15;
}

.ts-header-into {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 2rem;
}

.ts-logo {
  width: 200px;
  object-fit: contain;
}

.ts-header-navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: #FDFDFD;
}

.ts-header-nav {
  display: flex;
  gap: 2rem;
}

.ts-header-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #575759;
}

.ts-header-button {
  background: #E18E15;
  padding: 14px;
  width: 200px;
  text-align: center;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FDFDFD;
  transition: 300ms;
}

.ts-header-button:hover {
  border: 1px solid #E18E15;
  background: transparent;
  color: #E18E15;
}

/* ============ END-HEADER ============ */






/* ============ MAIN ============ */

.ts-hero {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 100vh;
}

.ts-hero img {
  position: relative;
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: -1;
}

.ts-hero > div {
  position: absolute;
  inset: 0 0 0;
  display: flex;

  align-items: center;
  justify-content: center;
}

.ts-hero h1 {
  max-width: 1123px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;

  color: #FDFDFD;
}


main {
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

.ts-article {
  display: flex;
  flex: 1 1;
  padding: 5rem 3rem;
  gap: 20px;
}

.ts-article .ts-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1;
}

.ts-article .ts-section p {
  margin: 20px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.04em;
}

.ts-article .ts-section p, .ts-article .ts-section h2 {
  color: #262626;
}
.ts-article .ts-section h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.ts-article .ts-section img {
  width: 100%;
  min-height: 300px;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transition: 300ms;
}
.ts-article .ts-section img.is-left {
  transform: translateX(100px);
}
.ts-article .ts-section img.is-right {
  transform: translateX(-100px);
}

.ts-article .ts-section img.is-animate-left, .ts-article .ts-section img.is-animate-right {
  opacity: 1;
  transform: translateX(0px);
}

.ts-article .ts-section a {
  width: max-content;
  padding: 14.5px;

  color: #FDFDFD;
  background: #262626;

  font-size: 14px;
  line-height: 18px;
  text-align: center;

  opacity: 0;
  transform: translateY(100px);
  transition: 300ms;
}

.ts-article .ts-section a.is-animate {
  opacity: 1;
  transform: translateY(0px);
}




.ts-article-form {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ts-article-form h2 {
  text-align: center;
  margin-bottom: 33px;
}

.ts-form {
  max-width: 500px;
  margin: 0 auto;
}
.ts-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.ts-form-field label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #262626;
}

.ts-form-field input, .ts-form-field  textarea {
  padding: 10px;
  border-bottom: 1px solid #57575990;

  font-size: 14px;
  line-height: 17px;
  color: #57575990;
  transition: 300ms;
}
.ts-form-field input:hover, .ts-form-field  textarea:hover {
  border-bottom: 1px solid #262626;
}

.ts-form-field button {
  padding: 12px;
  width: 150px;
  color: #FDFDFD;
  background-color: #262626;

  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  align-self: center;
}

.ts-section-slider {
  position: relative;
  background: url('./img/img-content-5.png') no-repeat center/cover;
  color: #FDFDFD;
}
.ts-slider {
  margin: 2rem;
  padding: 1rem;
  background-color: #2E2E2E66;
  text-align: center;
  height: 89%;
}

.ts-slider-title {
  color: inherit;
  font-size: 24px;
  font-weight: 600;
}

.ts-slider-nav {
  height: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}


.ts-slider-item {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
}
.ts-slider-item i {
  font-size: 2.5em;
  margin-bottom: 1rem;
}
.ts-slider-country {
  font-size: 24px;
  font-weight: 400;
}
/* ============ END-MAIN ============ */









/* ============ FOOTER ============ */
.ts-footer {
  background: #2E2E2E;
  color: #FDFDFD;
}

.ts-footer > div:not(.ts-footer-wrap-copyright) {
  display: flex;
  padding: 5rem;
  justify-content: space-between;
}
.ts-footer > div:not(.ts-footer-wrap-copyright) h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.ts-footer > div:not(.ts-footer-wrap-copyright) p {
  max-width: 600px;
  font-size: 16px;
  line-height: 26px;
}

.ts-footer-wrap-copyright {
  background: #262626;
  padding: 20px 0 50px 0;
}

.ts-footer-wrap-copyright p {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
/* ============ END-FOOTER ============ */


/* MENU ANIMATED */
.ts-menu-btn {
  position: relative;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: none;
  width: 22px;
  height: 20px;
  background-color: transparent;
  box-shadow: none !important;
  transition: 300ms;
}
.ts-menu-btn.open .ts-menu-btn__burger {
  transform: translateX(-50px);
  background-color: transparent;
}
.ts-menu-btn.open .ts-menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.ts-menu-btn.open .ts-menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.ts-menu-btn .ts-menu-btn__burger {
  width: 22px;
  height: 2px;
  background-color: #E18E15;
  border-radius: 5px;
  transition: 0.5s;
}

.ts-menu-btn .ts-menu-btn__burger::before,
.ts-menu-btn .ts-menu-btn__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: #E18E15;
  border-radius: 5px;
  transition: 0.5s;
}

.ts-menu-btn .ts-menu-btn__burger::before {
  transform: translateY(-7px);
}
.ts-menu-btn .ts-menu-btn__burger::after {
  transform: translateY(7px);
}

/* END-MENU ANIMATED */


/* ============ RESPONSIVE ============ */

@media only screen and (max-width: 768px) {
  /* ============ HEADER ============ */
  .ts-header-info .ts-header-info-clear > a {
    display: none;
  }
  .ts-header-info .ts-header-info-clear > span {
    font-size: 12px;
  }

  .ts-header-navbar {
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    top: 54px;
    left: 0;
    right: 0;
    z-index: 1;

    overflow: hidden;
    clip-path: circle(30% at 100% -100%);
    will-change: clip-path;
    transition: clip-path 300ms;
    box-shadow: 0 10px 10px -1px rgba(0, 0, 0, 0.5);
  }
  .ts-header-navbar.show {
    clip-path: circle(100% at 50% 50%);
  }
  .ts-header-nav {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .ts-header-item a {
    display: block;
    padding: 10px 20px;
    font-size: 12px;
  }
  .ts-header-item:hover {
    background-color: #E18E15;
  }
  .ts-header-item:hover a {
    color: #FDFDFD !important;
  }
  .ts-header-button {
    display: none;
  }
  .ts-logo {
    width: 120px;
  }
  .ts-menu-btn {
    display: flex;
  }

  /* ============ END-HEADER ============ */

  /* ============ MAIN ============ */
  .ts-hero h1 {
    font-size: 35px;
  }

  .ts-article-form {
    grid-template-columns: 1fr;
  }
  
  /* ============ END-MAIN ============ */

  /* ============ FOOTER ============ */
  .ts-footer > div {
    gap: 3rem;
  }
  .ts-footer > div:not(.ts-footer-wrap-copyright) {
    padding: 2rem;
  }
  .ts-footer > div:not(.ts-footer-wrap-copyright) h3 {
    font-size: 14px;
    line-height: 18px;
  }
  .ts-footer > div:not(.ts-footer-wrap-copyright) p {
    font-size: 12px;
    line-height: 22px;
  }
  
  .ts-footer-wrap-copyright {
    padding: 20px 0 30px 0;
  }
  
  .ts-footer-wrap-copyright p {
    font-size: 12px;
    line-height: 14px;
  }
  /* ============ END-FOOTER ============ */


}

/* ============ END-RESPONSIVE ============ */


@media only screen and (max-width: 480px) {
  .ts-header-navbar {
    clip-path: circle(50% at 100% -100%);
  }

  /* ============ MAIN ============ */
  .ts-hero h1 {
    font-size: 25px;
    line-height: 34px;
  }

  .ts-article {
    padding: 3rem 1rem;
    gap: 10px;
    flex-direction: column;
  }
  
  .ts-article .ts-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1;
  }
  
  .ts-article .ts-section p {
    margin: 20px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.04em;
  }
  
  .ts-article .ts-section p, .ts-article .ts-section h2 {
    color: #262626;
  }
  .ts-article .ts-section h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  .ts-article .ts-section img {
    width: 100%;
    min-height: 300px;
    height: 100%;
    object-fit: cover;
  
    opacity: 0;
    transition: 300ms;
  }

  .ts-form {
    margin: 3rem;
  }
  .ts-article .ts-section a {
    width: 100%;
  }
  /* ============ END-MAIN ============ */
}